/*s padding margin gap */
.p-5 {
    padding: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-5 {
    padding-left: 5px;
}
.p-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.p-15 {
    padding: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mr-0 {
    margin-right: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.ml-0 {
    margin-left: 0;
}
.m-5 {
    margin: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.m-15 {
    margin: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.gap-20 {
    gap: 20px;
}
/*e padding margin gap */
/*s display position */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.d-block {
    display: block;
}
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }
}
/*e display position*/
/* s flex position */
.f-wrap {
    flex-wrap: wrap;
}
.align-c {
    align-items: center;
}
.c-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* e flex position */
/* s background color  */
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-eee {
    background-color: #eee;
}
.c-black {
    color: black;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.gray {
    color: #777;
}
/* e background color  */
/* s font */
.text-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
@media (max-width:767px) {
    .text-c-mobile {
        text-align: center;
    }
}
/* e font */
/* s border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* e border */
/* s width height */
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.w-100px {
    width: 100px;
}
.w-40px {
    width: 40px;
}
/* e width height */
.btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}